*.csv
laboratorio-algoritmi-2021-2022/*.csv
laboratorio-algoritmi-2021-2022/*.docx
laboratorio-algoritmi-2021-2022/*.pdf

#Progetto C
laboratorio-algoritmi-2021-2022/c_ex/Es1/src/unity*
laboratorio-algoritmi-2021-2022/c_ex/Es1/bin/
laboratorio-algoritmi-2021-2022/c_ex/Es1/build

#Progetto Java
#OrderedArrayExample_Turno1/OrderedArray_Java/*.jar
#OrderedArrayExample_Turno1/OrderedArray_Java/classes/
