*.csv
laboratorio-algoritmi-2021-2022/*.csv
laboratorio-algoritmi-2021-2022/*.docx
laboratorio-algoritmi-2021-2022/*.pdf
laboratorio-algoritmi-2021-2022/.vscode
c_ex/Es1/bin/*
.vscode/*
c_ex/records.zip
